main section:first-of-type{
    p{
        place-self: center;
    }
}

/* intro */
section:nth-of-type(2){
    padding: 6em;
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 17em 15em;
    & p{
        grid-column: 1;
        grid-row: 2;
        max-width: 35em;
    }
    & img{
        grid-column: 2;
        grid-row: span 2;
        width: 17em;
        place-self: end;
    }
    & p:last-of-type {
        grid-column: 3;
        align-self: end;
    }
}

/* biografie */
section:nth-of-type(3){
    display: grid;
    gap: 3em;
    & article{
        display: grid;
        gap: 3em;
        grid-template-columns: 1fr 1fr;
        border-bottom: dotted var(--secondary-color) 3px;
        padding-bottom: 3em;
        & h2{
            font-size: 2.5em;
        }
        & img{
            grid-column: 2;
            grid-row: 1 / 3;
            align-self: end;
            max-height: 32em;
            max-width: 35em;
        }
        & p:last-of-type{
            grid-column: 2;
        }
    }
    & article:first-of-type{
        & h2{
            font-size: 4em;
        }
    }
    & article:nth-of-type(2n+1){
        & img{
            grid-column: 1;
            justify-self: center;
        }
        & p:last-of-type{
            grid-column: 1;
            justify-self: center;
        }
    }
    & article:last-of-type{
        border-bottom: none;
        padding-bottom: 0;
    }
}


