main section:first-of-type {
    background-image: url(../images/stijl/echo-en-narcissus.jpg);
}

section.collage {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 0 0 0 8em;
    & img{
        grid-column: 2;
        grid-row: 1/ span 2;
        align-self: center;
    }
    & p:first-of-type{
        padding-top: 1em;
        align-self: end;
    }
}



/* /////////////// */
/* Kleuren */
/* /////////////// */
section.kleuren {
    border-bottom: solid var(--secondary-color);
    display: grid;
    column-gap: 3em;
    grid-template-rows: auto 171px auto;
    row-gap: 1em;
    transition: .3s;
    & h2{
        align-self: end;
    }
    & p:first-of-type{
        align-self: flex-end;
        max-width: 30em;
        grid-row: 2;
    }
}

.kleurencirkels {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    grid-row: span 3;
    gap: .8em;
}

.kleurenfotos{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    grid-row: 3;
    & img {
        width: 15rem;
        aspect-ratio: 1/1;
        object-fit: contain;
        align-self: flex-start;
    }
}

button {
    display: block;
    aspect-ratio: 1 / 1;
    width: 7rem;
    border: none;
    border-radius: 99999px;
    font-size: 1em;
    transition: .3s;
}

button:hover {
    cursor: pointer;
    scale: 1.15;
}

.groen{
    background-color: var(--main-color);
    color: var(--main-color-light);
    border-color: var(--main-color-light);
}
.blauw{
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    border-color: var(--main-color-light);
}
.rood{
    background-color: var(--accent-color);
    color: var(--main-color-light);
    border-color: var(--main-color-light);
}
.roze{
    background-color: #E49C95;
    color: var(--main-color-dark);
    border-color: var(--main-color-dark);
    & p, h2{
        color: var(--main-color-dark);
    }
}
.oranje{
    background-color: var(--secondary-color);
    color: var(--main-color-dark);
    border-color: var(--main-color-dark);
    & p, h2{
        color: var(--main-color-dark);
    }
}
.creme{
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    border-color: var(--main-color-dark);
    & p, h2{
        color: var(--main-color-dark);
    }
}

button.active {
    border: solid;
}

#kleur-tekst, #kleur-img-1, #kleur-img-2, #kleur-img-3 {
    opacity: 1;
    transition: opacity 0.4s ease-in-out, color 0.4s ease-in-out;
}

#kleur-tekst.fade-out, #kleur-img-1.fade-out, #kleur-img-2.fade-out, #kleur-img-3.fade-out {
    opacity: 0;
}

/* /////////////// */
/* Visuele Analyse */
/* /////////////// */
section.analyse{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    & h2{
        justify-self: center;
        align-self: end;
    }
    & div#analyse-img-container {
        grid-column: 1;
        grid-row: 1 / span 3;
        background-image: url(../images/stijl/analyse/circe-origineel.png);
        background-size: contain;
    }
}

.analyse ul {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-color: none;
    gap: 20em;
    padding-left: calc(50% - 250px);
    padding-right: calc(50% - 250px);
    & li{
        border-radius: 1em;
        padding: 2em;
        background-color: var(--main-color-light);
        flex: 0 0 auto;
        scroll-snap-align: center;
        width: 500px;
        height: fit-content;
        & h3{
            color: var(--main-color-dark);
            padding-bottom: .5em;
        }
        & p{
            color: var(--main-color-dark);
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.carousel-controls {
  grid-column: 2;
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

.carousel-btn {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: var(--secondary-color);
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--main-color-light);
}

.carousel-btn:hover {
  background: var(--main-color-dark);
  color: white;
}

.carousel-btn:disabled {
  opacity: 0.2;
  cursor: unset;
}

#analyse-img {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}


/* /////////////// */
/* Tijdlijn */
/* /////////////// */
section.tijdlijn{
    padding: 6em 2em 0 2em;
    display: grid;
    grid-template-columns: 1fr 2em 1fr;
    & h2 {
        grid-column: 1;
        justify-self: center;
    }
}

div.streep{
    background-color: var(--secondary-color);
    width: 3px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: span 3;
    grid-column: 2;
    & .rondjes{
        width: 2em;
        aspect-ratio: 1;
        background-color: var(--secondary-color);
        border-radius: 50%;
    }
    & .rondjes:last-of-type{
        opacity: 0;
    }
}

article.tijdblok{
    background-color: var(--main-color-light);
    margin: 2em;
    margin-right: 0;
    padding: 2em;
    border-radius: 0 3em 3em 3em;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: .8em;
    & h3{
        color: var(--main-color-dark);
        grid-column: span 2;
    }
    & p{
        color: var(--main-color-dark);
        font-size: 1em; 
        grid-column: span 2; 
    }
    & p:last-of-type{
        grid-column: 2;
        grid-row: 3;
        align-self: end;
    }
    & img{
        grid-column: 1;
        grid-row: 3;
    }
}

article.tijdblok:nth-of-type(2){
    border-radius: 3em 0 3em 3em;
    margin-left: 0;
    margin-right: 2em;
}
article.tijdblok:nth-of-type(3){
    grid-row: 3;
    grid-column: 3;
}